#NUMBERS {
  margin-top: 1vh;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}


b  {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 40px;
  border-radius: 25px;
  margin: 0.5px;
}


.btn-custom {
  margin: 0;
  background-color: #f5b86f;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
}
